@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Login Form */
.body-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  overflow: hidden;
}
.box-login {
  max-width: 500px;
  width: 100%;
}
.box-login .box-title {
  height: 100px;
  background: black;
  border-radius: 5px 5px 0 0;
  color: #E2A500;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-login .login-form {
  padding: 25px 35px;
}
.box-login .login-form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}
.box-login .login-form .row .input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
  transition: all .3s ease;
}
.login-form .row .input:focus {
  border-color: black;
}
.login-form .row .input::placeholder {
  color: black;
}
.box-login .login-form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #E2A500;
  font-size: 22px;
  background: black;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-login .login-form .button .input {
  color: #E2A500;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: black;
  cursor: pointer;
}
/* Login Form */